
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c5def3; 
    color: #333;
}



header {
    background-color: #008000; 
    color: white;
    text-align: center;
    padding: 20px;
}


header h1 {
    margin: 0;
    font-size: 3em;
}


header h2 {
    margin: 0;
    font-size: 1.5em;
}



nav {
    background-color: #333;
    padding: 10px;
}


nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}


nav ul li {
    margin: 0 15px;
}


nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
}


nav ul li a:hover {
    background-color: #008000;
    border-radius: 5px;
}



.catalogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}



section {
    width: 65%; 
    background-color: white;
    padding: 15px;
    margin: 10px auto;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 2px 5px gray;
}



section img {
    width: 60%; 
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 2px 5px gray;
    margin-bottom: 10px;
}

#quem-somos {
    background-color: #f0fff0; 
    width: 90%; 
    display: flex; 
    flex-wrap: wrap; 
    align-items: center; 
    gap: 20px; 
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px; 
    box-shadow: 0px 2px 5px gray; 
}


#quem-somos h3 {
    flex: 1; 
    font-size: 2.5em;
    color: #008000; 
    text-shadow: 1px 1px 2px #ccc;
}


#quem-somos p {
    flex: 2; 
    font-size: 1.5em;
    line-height: 1.8;
    color: #333;
}



article#dicas {
    background-color: #e6ffe6; 
    border: 2px solid #008000; 
    border-radius: 10px;
    padding: 15px;
    margin: 20px auto;
    text-align: center;
    box-shadow: 0px 2px 5px gray;
}


article#dicas ul {
    padding: 0; 
    list-style-type: none; 
    text-align: left; 
}


article#dicas ul li {
    margin-bottom: 10px; 
    font-size: 1.2em; 
}



form {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between; 
    gap: 20px; 
    width: 90%;
    margin: 20px auto; 
    padding: 20px;
    background-color: #ffffff; 
    border-radius: 10px;
    box-shadow: 0px 2px 5px gray;
}


form label {
    width: 100%; 
    margin-bottom: 5px;
}


form input, form textarea, form select, form button {
    flex: 1; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


form textarea {
    flex: 2;
}


form button {
    background-color: #008000; 
    color: white;
    border: none;
    cursor: pointer;
}


form button:hover {
    background-color: #005700; 
}



footer {
    margin-top: 50px;
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}
